.modal__join {
  width: 437px;
  // height: 552px;
  padding: 18px;
  border-radius: 20px;
  position: relative;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  background-color: #ffffff1a;

  & .button {
    transition: border 0.2s ease-in-out, background-image 0.2s ease-in-out;
  }
  .violet:hover {
    background-image: url('../img/button-hover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // cursor: url('../img/cursor.png'), pointer;
    cursor: default;
    // color: #fff;
  }

  & > div {
    & > img {
      margin-bottom: 20px;
    }
  }

  .form_ok {
    display: none;
    text-align: center;
    padding-top: 30px;

    p {
      margin-bottom: 40px;
    }

    button {
      max-width: 150px;
      margin-bottom: 50px;
    }

    // &+.modal__join_motivation {
    //   padding-bottom: 20px;
    // }
  }

  .modal__two {
    display: none;
  }

  .bgWrapper {
    img {
      backdrop-filter: blur(50px);
      border-radius: 12px;
    }
    z-index: 0;
  }

  div[data-close] {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  & > div:last-child {
    position: relative;
  }

  form {
    text-align: center;

    input ~ label {
      font-size: 12px;
    }

    .modal_name {
      gap: 13px;

      input:placeholder-shown {
        & ~ span {
          left: 114px;
          top: 25px;
        }
      }
    }

    .modal_email,
    .modal_name {
      input {
        &::placeholder {
          opacity: 0.6;
        }
      }
    }

    .modal_email {
      input {
        &:placeholder-shown ~ span {
          right: 100px;
          top: 25px;
        }
      }
    }
  }

  h5 {
    margin-bottom: 8px;
  }

  h5 + p {
    font-family: 'PoppinsR', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 30px;
  }

  .modalVideo {
    width: 401px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img,
    video {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      font-family: 'InterE', sans-serif;
      font-size: 50px;
      line-height: 60px;
      letter-spacing: -2px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .input {
    width: 100%;
    height: 65px;
    gap: 17px;
    padding: 5px 5px 5px 26px;
    margin-bottom: 15px;

    input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      font-family: 'InterS', sans-serif;
      color: rgba(255, 255, 255, 1);
      letter-spacing: 0.28px;
      line-height: 17px;
    }
  }

  button {
    width: 100%;
    height: 65px;
    font-size: 14px;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 20px;

    &:hover {
      color: #212121;
      background-color: rgb(234, 234, 234);
      // cursor: url('../img/cursor.png'), pointer;
      cursor: default;
    }
  }

  .modal__one {
    &_motivation {
      max-width: 301px;
      text-align: center;
      margin: 0 auto 20px;

      span {
        font-family: 'InterM', sans-serif;
        line-height: 28px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  .modal__two {
    padding: 15px;
  }

  &_motivation {
    font-family: 'PoppinsB', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 15px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 16px;
      background-color: rgba(255, 255, 255, 1);
    }

    &:before {
      top: 50%;
      left: 0;
    }

    &:after {
      top: 50%;
      right: 0;
    }
  }

  .modal__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;

    & > a:hover {
      &[title='Soon'] > span {
        display: block;
        animation-name: slide;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
      }
    }

    & > a[title='Soon'] > span {
      font-family: 'PoppinsR', sans-serif;
      position: absolute;
      font-size: 14px;
      color: rgb(246, 246, 246);
      top: 37px;
      left: 106px;
      display: none;
    }

    svg {
      // -webkit-backdrop-filter: blur(4.1049365997px);
      // backdrop-filter: blur(4.1049365997px);
      width: 40px;
      height: 40px;
      cursor: default;
      fill: #7170e3;

      &:hover {
        // cursor: url('../img/cursor.png'), pointer;
        cursor: default;
        // fill: #242424;
      }

      // &:hover {
      //   path {
      //     fill: #9e9dfe;
      //     transition: all 0.2s ease-in-out;
      //   }
      // }
    }
  }
}

@include mobile() {
  .modal__join {
    width: 85%;
    background-image: linear-gradient(
        132deg,
        rgba(44, 44, 44, 0.593) 0%,
        rgba(0, 0, 0, 0.188) 100%
      ),
      url('../img/button-hover.png');
    // background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    & .button {
      background-image: url('../img/button-hover.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // color: #fff;
      text-transform: none;
      &:hover {
        // cursor: url('../img/cursor.png'), pointer;
        cursor: default;
      }
    }

    .modal__socials {
      display: none;
    }

    .modalVideo {
      width: 100%;
      height: 50vh;

      p {
        text-transform: none;
        font-family: 'InterB', sans-serif;
        font-size: 60px;
        line-height: 70px;
      }
    }

    button {
      margin-bottom: 0;
    }

    .input {
      gap: 10px;
    }

    & > div {
      & > img {
        width: 100%;
      }
    }

    .modal__one_motivation {
      display: none;
      span {
        font-family: 'InterM', sans-serif;
        line-height: 28px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    form + div {
      font-size: 14px;

      p {
        padding: 0 20px;
      }
    }

    form {
      .modal_email {
        input {
          &:placeholder-shown ~ span {
            left: -7px;
            top: 0;
            position: relative;
          }
        }
      }
    }
  }
}

@include mobile-only() {
  .modal__join {
    width: 90%;

    // .modalVideo {
    //   // p {
    //   //   font-size: 40px;
    //   //   line-height: 40px;
    //   // }
    // }
  }
}
