.panel {
  display: flex;
  justify-content: center;
  height: auto;

}

@include laptop() {
  .panel {
    width: 100%;
    height: auto;

    img {
      width: 180%;
      height: auto;
    }
  }
}