@font-face {
  font-family: 'InterR';
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterM';
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterS';
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'InterB';
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'InterE';
  font-display: swap;
  src: url('../fonts/Inter-ExtraBold.woff') format('woff'),
    url('../fonts/Inter-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsR';
  font-display: swap;
  src: url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsM';
  font-display: swap;
  src: url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsRI';
  font-display: swap;
  src: url('../fonts/Poppins-MediumItalic.woff') format('woff'),
    url('../fonts/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PoppinsMI';
  font-display: swap;
  src: url('../../fonts/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PoppinsS';
  font-display: swap;
  src: url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsB';
  font-display: swap;
  src: url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsE';
  font-display: swap;
  src: url('../fonts/Poppins-ExtraBold.woff') format('woff'),
    url('../fonts/Poppins-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HalveticaM';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HalveticaN';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansR';
  font-display: swap;
  src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
